@import url(./normalize.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem; 
  color: #181818; 
  background-color: #fff;
  font-family: 'Spoqa Han Sans';
  font-weight: 400;
}