@import url(./normalize.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(./fontello.css);
*, *::before, *::after {
  box-sizing:border-box;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.4rem; 
  color: #181818; 
  background: url(./images/bg_flower.png) no-repeat 50% 0 scroll/*그림이 나오려면 배경색 앞에 나와야한다.배경색은 마지막으로 가야한다 왜냐하면 백그라운드는 나중에 작성할수록 밑으로 가기 때문*/
  ,#fff linear-gradient(to bottom, #ccc 0%, #fff 70%, #fff 100% );/*아래쪽 방향으로 그라디언트*/
  /*비쥬얼의 이미지를 container에 줄수 있지만 너무 쉬우므로 바디에 주겠다.*/
  font-family: 'Spoqa Han Sans';
  font-weight: 400;
}
/* 숨김 콘텐츠 */
.a11y-hidden, legend {
  position: absolute;/*레이어함*/
  width: 1px;
  height: 1px;
  overflow: hidden;/*넘치는 것 감추기*/
  margin: -1px;
  clip-path: polygon(0 0, 0 0, 0 0);
}
/* 링크 스타일 */
a {
  text-decoration: none;/*밑줄을 없애기 위해서*/
  color: inherit;/*모든 컬러는 다 상속가능하나, a태그는 상속받지 못하고 항상 파랑,보라의 색만 가진다. 
  따라서 색을 변경할때 일일이 바꿔줘야하는 번거로움이 있기 때문에 inherit로 변경을 쉽게해주겠다*/
}
/* 레이아웃 */
.container {
  /* display: flex;
  flex-flow: column nowrap;
  align-items: center; */
}
.header, .visual, .main, .slogan, .footer {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}
/* 헤더 */
.header {
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  padding: 1px 30px;
  position: relative;
}
/* 로고 */
.logo {
  position: absolute;
  top: 25px;
  left: 60px;
}
/* 멤버링크 */
.member {
  list-style: none;/*ul 앞에 점을 없애기 위해*/
  padding-left: 0;/*ul,li는 기본적으로 사방으로 여백을 가지고 있기 때문에 초기화해주는 작업을 해줌*/
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: -8px; /*English 뒤에 여백이 38px이 되는 것을 막기 위해 사용*/
  font-size: 0;  /*공백문자 제거를 위해 추가*/
  text-align: right;/*텍스트 정렬 방향을 설정*/
}
.member li, .member a {
  display: inline-block;/*member를 오른쪽 정렬한 것처럼 보이게 하기위해(float,flex로도 해볼것)*/
}
.member li {
  font-size: 1.4rem;
}
.member [aria-hidden] {
  /* margin: 0 5px; */
}
.member a {
  text-transform: uppercase;/*모두 대문자로 변경*/
  padding: 2px 8px 2px 3px;/*member의 글자 사이 공백을 추가하려고 패딩을 선택했다.
  마진을 선택할수도 있으나 글자 선택 면적을 넓힌다면 클릭을 좀 더 쉽게 할 수 있기 때문에*/
}
.menu {
  background: #c95520 linear-gradient(to bottom, #ea7d2e 0%,#c95520 35%,#c95520 70%,#ea7d2e 100%); /*linear-gradient는 배경 이미지이므로 이미지를 지원하지 않을 수 있어 따로 배경색을 지정해준다.*/
  padding-left: 0;
  list-style: none;
  margin: 0 0 35px;
  padding-left: 225px;/*네비게이션 메뉴들을 로고옆에 두기 위해*/
  border-top: 2px solid #000;/*border-top을 2px 줬기 때문에 바닥선이  menu안에 포함되지 않고 밖에 있는것처럼 보임*/
  border-radius: 0 0 5px 5px;
  height: 50px;/* 늘어날 가능성이 없기 때문에 강제로 높이를 준다.*/
}
.menu-item {
  float: left;
  position: relative;
}
.btn-menu {
  background-color: transparent;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  border: 0;
  border-left: 2px solid rgba(255, 255, 255, 0.85);
  padding: 0/*15px였던 값을 nav구현 위해 삭제-왜냐하면 line-height는 padding 값을 포함해서 추가적으로 값을 더하기 때문에*/ 20px;
  cursor: pointer;
  text-shadow: 1px 1px 0 #000;
  line-height: 48px;/*line-height값을 요소의 높이(패딩 마진 포함한값)만큼 줘서 박스가 그다음에 생성되게 했다.*/
}
.menu-act .btn-menu {
  color: #ff0;
  
}
.menu-act .btn-menu::after {
  content: "";
  display: block;
  background-color: #000;
  height: 2px; /*상자니까 높이를 부여해서 선두께처럼 구현*/
  /*margin-top:15px; 얇은 박스를 버튼 밑으로 배치하려 했는데 버튼의 자식이라 버튼의 크기도 증가함*/
}
.sub-menu {
  position: absolute;
  margin: 0;
  padding-left: 0;
  list-style: none;
  white-space: nowrap;/*강제 개행 금지 인라인블럭을 하면 개행되는것을 막기 위한 팁*/

}
.sub-menu li, .sub-menu a{
  display: inline-block;
}
.sub-menu a {
  padding: 8px 0;
  margin-right: 1em;/*한글자만큼*/
}
.sub-menu a::before {
  content: '\f192';
  font-family: 'fontello';
  display: inline-block;
  width: 1em;
  margin-right: .2em;
  margin-left: .2em;
}
.sub-menu a:hover::before, .sub-menu a:focus::before{
  content: '\e800';
}
.sub-menu1,.sub-menu2,.sub-menu3 {
  left: 0;
}
.sub-menu4,.sub-menu5,.sub-menu6 {
  right: 0;/*l,r둘다 주면 width:100%와 같은 효과*/
}
.sub-menu1 {
  display: block;
}
.sub-menu2 {
  display: none;
}
.sub-menu3 {
  display: none;
}
.sub-menu4 {
  display: none;/*바깥으로 튀어나가지 않는 이유: submenu는 absoulte를 갖고있는 상황이므로 relative를 가진 요소를 찾아가다가 헤드에 있는 relatvie 만나고 그 헤드를 벗어나지 않는다.*/
}
.sub-menu5 {
  display: none;
}
.sub-menu6 {
  display: none;
}
/* 비주얼 */
@keyframes textAni {
  0% {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.0);
    transform: translate(0,0);
  }
  100% {
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    transform: translate(400px, 75px);
  }
}
@keyframes bgAni {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.visual {
  height: 120px;
  position: relative;
}
.visual::before, .visual::after {
  animation: bgAni 2000ms ease-in infinite alternate;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
.visual::before {
  background-image: url(./images/ani_flower_01.png)
  , url(./images/ani_flower_02.png);/*단축속성으로 쓰면 안된다. 위의 repeat가 덮어씌워지기 때문*/
  background-position: 0 -10px, 670px 0;
}
.visual::after {
  background-image: url(./images/ani_flower_03.png)
  , url(./images/ani_flower_04.png);/*단축속성으로 쓰면 안된다. 위의 repeat가 덮어씌워지기 때문*/
  background-position: 300px 0, 800px 20px;
  animation-delay: 1000ms;
}
.visual-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  animation: textAni 500ms ease-in-out forwards;
  font-size: 2.4rem;
  width: 500px;
}
/* 메인 콘텐츠 */
.main {
  background-color: #fff;
  min-height: 450px;
  padding: 30px;
  display: flex;
  flex-flow:row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 15px 15px 0 0;
}
.group1 {
  width: 250px;
}
.group2 {
  width: 380px;
}
.group3 {
  width: 190px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
/* 로그인 */
.login {
  border-radius: 5px;
  background-image: radial-gradient(circle at right top, #ea7d2e, #c95520);/*모양 설정 원모양, 타원 모양*/
  background-color: #c95520;
  box-shadow: 5px 5px 0 0 #ccc;/*인자값의 의미 정도만 알아두기*/
  padding: 10px;
  width: calc(100% - 5px);/*box-shadow 때문에 레이아웃 가로 너비가 5px만큼 늘어남*/
}
.login-heading {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 10px;
  color: #ff0;
  font-weight: 700;
  font-size: 1.5rem;
}
.login-form {
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 10px;
  padding: 10px 10px 0 10px;
}
.login-form fieldset {
  border: 0;
  margin: 0;
  padding: 0;/*초기상태로 추가해주는것이 좋음*/
  position: relative;
  padding-bottom: 5px;
  border-bottom: 1px solid #aaa;
}
.login-form div {
  width: 150px;
  margin-bottom: 5px;
}
.login-form label {
  /*인라인상태라 width를 줄수 없어서 liline-block으로 변경*/
  display: inline-block;
  width: 55px;
}
.login-form input {
  width: 90px;
  height: 24px;
  border: 1px solid #aaa;
  padding: 1px 1px 1px .5em;/*답답하지 않은 인풋박스 구현*/
}
.btn-login {
  width: 50px;
  height: 52px;
  border-radius: 3px;
  border: 0;
  padding: 5PX;/*버튼은 에이전트 스타일상 패딩을 가짐*/
  color: #fff;
  cursor: pointer;/*초기값으로 추가하면 좋을듯*/
  background-color: #fff;
  background-color: #c95520;
  font-size: 1.3rem;/*글자가 도드라져 크게 보여 살짝 줄임*/
  position: absolute;
  top: 0;
  right: 0;
}
.member-only {/*ul이라 기본 마진을 가짐*/
  background-color: #fff;
  margin: 0;
  padding: 10px;
  list-style: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}
.member-only li:first-child {
  float: left;
}
.member-only li:last-child {
  float: right;
}
.member-only a {
  padding-top: 5px;
  padding-bottom: 5px;
}
.member-only a::before {
  content: "\e803";
  font-family: "fontello";
  display: inline-block;
  margin-right: .2em;/*fontello가 화면에 나오기위한 조건이다. fontello.css에서 복붙함*/
  color: #c95520;
}
/* 유효성 검사 배너 링크 */
.validation-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  margin-top: 25px;
  margin-bottom: 0;
}
.validation-list a {
  display: block;
  border: 1px solid #aaa;
  border-radius: 20px;
  background-image: url(./images/validation_icon.png),linear-gradient(180deg, #ccc, #eee);
  background-repeat: no-repeat, repeat; 
  background-position: 15px 50%, 0 0;
  background-color: #ccc;
  /* line-height: 30px; list 크기 정하는 또다른 방법 */
  padding: 8px 10px 8px 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #aaa;
}
.validation-list a:hover {
  color: #f00;
}
/* .validation-list li::before {
  content: url(./images/validation_icon.png);
  padding-right: 5px;
} */
/* 웹 관련 용어 */
.term {
  background-image: linear-gradient(180deg, #ccc, #eee);
  padding: 15px;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-top: 20px;
}
.term-heading {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 700;
}
.term-list {
  margin-top: 10px;
  margin-bottom: 0;
}
.term-list > div {
  margin-top: 10px;
}
.term-list-subject {
  color: #296897;
  width: 145px;
  float: right;
}
.term-list-thumbnail {
  margin-left: 0;
  float: left;
}
.term-list-brief {
  margin-left: 0;
  margin-top: 5px;
  width: 145px;
  float: right;
}
.even .term-list-subject, .even .term-list-brief {
  float: left;
}
.even .term-list-thumbnail {
  float: right;
}
/* 검색 폼 */
.search-form {
  border: 1px solid #aaa;
  border-bottom: #fff;
  border-radius: 15px 15px 0 0;
  padding: 15px 25px 10px;
  background-image: linear-gradient(180deg, #ccc, #fff);
  
}
.search-form fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  display: flex;
}
.search-form div[role="group"] {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.search-form label, .btn-search {
  white-space: nowrap;
}
.search-form label::before {
  content: "\e802";
  font-family: 'fontello';
  display: inline-block;
  margin-right: .2em;
}
.search-form input[name="search"] {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 1px 1px 1px 5px;
  height: 24px;
  width: 200px;
  margin-left: 5px;
  margin-right: 5px;
}
.btn-search {
  border: 1px solid #aaa;
  border-radius: 3px;
  background-color: #222;
  color: #fff;
  font-size: 1.3rem;
  height: 24px;/*글자크기를 줄이면서 버튼 높이가 줄어서 고정값으로 설정*/
  padding: 0 10px;
  border: 0;
}
/* 공지사항 및 자료실 */
.board {
  background-color: pink;
  margin-top: 20px;
  position: relative;
  min-height: 180px;
}
.notice-heading, .pds-heading {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 400;/*margin=0부터 font-weight;은 헤딩 에이전트 스타일 때문에 들어감*/
  position: absolute;
  top: 0;
}
.notice-heading {
  left: 0;
}
.pds-heading {
  left: 73px;
}
.tab {
  display: block;
  color: #666;
  border: 1px solid #aaa;
  border-radius: 5px 5px 0 0;
  padding: 5px 10px;
  background: #ccc linear-gradient(180deg, #ccc, #eee);
}
.tab-act .tab {
  color: #c95520;
  border-color: #c95520 #c95520 #fff #c95520;
  background: #fff;
}
.notice-list, 
.pds-list, 
.notice-more, 
.pds-more {
  display: none;
}
.tab-act .notice-list,
.tab-act .pds-list, 
.tab-act .notice-more, 
.tab-act .pds-more {
  display: block !important;
}

.notice-list, .pds-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
}
.notice-list li, .pds-list li {
  margin-bottom: 10px;  
}
.notice-list li::after,
.pds-list li::after {
  content: "";
  clear: both;
  display: block;
}
.notice-list a, .pds-list a {
  float: left;
  width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.notice-list a::before,
.pds-list a::before {
  content: "\f192";
  font-family: 'fontello';
  display: inline-block;
  margin-right: .2em
}
.notice-list time, .pds-list time {
  float: right;
}
.notice-more, .pds-more {
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px;
}
.icon-plus::before {
  color: hsla(110, 70%, 50%, 1);/*각도, 채도, 명도, 투명도*/
  /*이미 만들어진 컨텐츠라 content=""생략  */
}
/* 새소식 */
.news {
  margin-top: 20px;
  position: relative;
  padding: 0;
}
.news::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  height: 1px;
  width: 80%;
  background: #aaa linear-gradient(90deg, #aaa, #fff);/*90도는 왼쪽에서 오른쪽*/
}
.news-heading {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: #c95520;
}
.news-item {
  margin-top: 30px;
  padding-left: 130px;
  position: relative;
}

.news-item-subject {
  margin: 0;
  font-size: 1.4rem;
}
.news-item-date {
  
 
}
.news-item-brief {
 line-height: 1.5;
}
.news-item-thumbnail {
  margin: 0;
  position: absolute;
  top: 3px;
  left: 0;
  text-align: center;
}
.news-item-thumbnail img {
  margin-bottom: 15px;
  box-shadow: 0 15px 20px 2px #ccc;/*x축 0 y축 15px 블러 스프레드 색상*/
}
.news-more {
  position: absolute;
  padding: 8px;
  top: -8px;
  right: -8px;
}
/* 슬로건 */
.slogan {
  background-color: orange;
}
.footer-bg {
  background-color: purple;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.footer {
  background-color: skyblue;
}