@import url(./normalize.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
*, *::before, *::after {
  box-sizing:border-box;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.4rem; 
  color: #181818; 
  background-color: #fff;
  font-family: 'Spoqa Han Sans';
  font-weight: 400;
}
/* 링크 스타일 */
a {
  text-decoration: none;/*밑줄을 없애기 위해서*/
  color: inherit;/*모든 컬러는 다 상속가능하나, a태그는 상속받지 못하고 항상 파랑,보라의 색만 가진다. 
  따라서 색을 변경할때 일일이 바꿔줘야하는 번거로움이 있기 때문에 inherit로 변경을 쉽게해주겠다*/
}
/* 레이아웃 */
.container {
  background-color: #ccc;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.header, .visual, .main, .slogan, .footer {
  width: 940px;
  
}
/* 헤더 */
.header {
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  padding: 0 30px 0 30px;
  position: relative;
  
}
/* 로고 */
.logo {
  position: absolute;
  top: 45px;
  left: 65px;
}
/* 멤버링크 */
.member {
  list-style: none;/*ul 앞에 점을 없애기 위해*/
  padding-left: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: -8px;
  font-size: 0;  /*공백문자 제거를 위해 추가*/
  text-align: right;/*텍스트 정렬 방향을 설정*/
}
.member li, .member a {
  display: inline-block;/*member를 오른쪽 정렬한 것처럼 보이게 하기위해(float,flex로도 해볼것)*/
}
.member li {
  font-size: 1.4rem;
}
.member [aria-hidden] {
  /* margin: 0 5px; */
}
.member a {
  text-transform: uppercase;/*모두 대문자로 변경*/
  padding: 2px 8px 2px 3px;/*member의 글자 사이 공백을 추가하려고 패딩을 선택했다.
  마진을 선택할수도 있으나 글자 선택 면적을 넓힌다면 클릭을 좀 더 쉽게 할 수 있기 때문에*/
}
.visual {
  background-color: lime;
  height: 120px;
}
/* 메인 콘텐츠 */
.main {
  background-color: blue;
  min-height: 450px;
  padding: 30px;
  display: flex;
  flex-flow:row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.group1 {
  background-color: pink;
  
  width: 250px;
}
.group2 {
  background-color: lightgreen;
  
  width: 380px;
}
.group3 {
  background-color: coral;
  
  width: 190px;
}
.clearfix {
  
  
  clear: both;
}
.slogan {
  background-color: orange;
  
  
}
.footer-bg {
  background-color: purple;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.footer {
  background-color: skyblue;
}